@font-face {
    -fx-font-family: 'San Francisco';
    -fx-font-weight: normal;
    -fx-font-style: normal;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
    -fx-font-family: 'San Francisco';
    -fx-font-weight: bold;
    -fx-font-style: normal;
    src: url('../fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
    -fx-font-family: 'San Francisco';
    -fx-font-weight: normal;
    -fx-font-style: italic;
    src: url('../fonts/SF-Pro-Display-RegularItalic.otf');
}

@font-face {
    -fx-font-family: 'San Francisco';
    -fx-font-weight: bold;
    -fx-font-style: italic;
    src: url('../fonts/SF-Pro-Display-BoldItalic.otf');
}

.root {
    main-color: #f9f9f9;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: #f9f9f9;
    -fx-font: 16px "San Francisco","Helvetica";
    -fx-text-fill: #3b3a3a;
}

.text-field {
    -fx-background-color: #f4cfc6;
    -fx-padding: 8px 12px;
}

.button {
    -fx-background-color: transparent;
    -fx-font: bold 18px "San Francisco", "Helvetica";
    -fx-background-radius: 1em;
    -fx-padding: 8px 16px;
}

.button:hover {
    -fx-background-color: #dd7e68;
    -fx-text-fill: #f9f9f9;
    -fx-background-radius: 1em;
}

.button:pressed {
    -fx-background-color: #3b3a3a;
    -fx-text-fill: #f9f9f9;
    -fx-background-radius: 1em;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #dd7e68;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

